<h1>Welcome to Playlister!</h1>

<h3>Please select from the following</h3>
<a href="/songs/new">Create A New Song</a>
<a href="/songs">See All Songs</a>
<a href="/artists">See All Artists</a>
<a href="/genres">See All Genres</a>