<!DOCTYPE html>
<html>
  <head>
    <title>PLAYLISTER</title>
  </head>

  <body>
    <%= yield %>
  </body>
  <a class="button" href="/">Home</a>
  <!-- #any repetition in erb goes in here. this is basically like modules -->
</html>